<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

<div class="container">
<main class="embed-content" aria-label="Content">
  <div class="wrapper">
  
<article>
      <div class="row sort">
      <p>Sort by:&nbsp;
        <a href="#" data-filter="*" class="current">All</a>
      {% for category in site.categories %}
        &nbsp;&nbsp;/&nbsp;&nbsp;<a href="#" data-filter=".{{ category | first }}">{{ category | first | capitalize }}</a>
      {% endfor %}
      </p>
    </div>
    <div class="row portfolioContainer">

  		{% for post in site.posts %}

	  	<div class="col-sm-3 {{ post.categories | join: ' ' }}">
        
  	  		<div colloids-id="{{ post.id }}" class="circle" style="background-image:url('{{ post.image }}');">
            <p><span class="date">{{ post.date | date_to_string }}</span>{{ post.title }}</p>
          </div>
        
	  	</div>
	  	
	  	{% endfor %}

    </div> <!-- /.row -->

</article> 

</div>

</main>
    </div>
    

  </body>

</html>
