<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
		{%- include nav.html -%}
    
<div class="container">
<main class="front-content" aria-label="Content">
  <div class="wrapper">
  
<article>
  <h1>BCAT and ACE: Colloid Physics in Space</h1>
      <div class="row sort">
      <p>Sort by:&nbsp;
        <a href="#" data-filter="*" class="current">All</a>
      {% for category in site.categories %}
        &nbsp;&nbsp;/&nbsp;&nbsp;<a href="#" data-filter=".{{ category | first }}">{{ category | first | capitalize }}</a>
      {% endfor %}
      </p>
    </div>
    <div class="row portfolioContainer">

  		{% for post in site.posts %}

	  	<div class="col-sm-3 {{ post.categories | join: ' ' }}">
        <a href="{{ post.url  | prepend: site.baseurl }}">
  	  		<div class="circle" style="background-image:url('{{ post.image }}');">
            <p><span class="date">{{ post.date | date_to_string }}</span>{{ post.title }}</p>
          </div>
        </a>
	  	</div>
	  	
	  	{% endfor %}

    </div> <!-- /.row -->

</article> 

</div>

</main>
    </div>
    
    {%- include footer.html -%}

  </body>

</html>
